{% extends 'base.html.twig' %}

{% block description %}
Registration page of Wornak
{% endblock %}

{% block title %}
Registration-Wornak
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="options__item">
        <div class="options__item-content">
            <div class="options__item-title">Are you a Particular ?</div>
        </div>
        <a href="{{ path('app_register') }}?ch" class="options__item-link">Yes !</a>
    </div>
    <div class="options__item">
        <div class="options__item-content">
            <div class="options__item-title">Are you a Company ?</div>
        </div>

        <a href="{{ path('app_register') }}?ch=CR" class="options__item-link">Yes !</a>
    </div>

</main><!-- /.container -->
{% endblock %}