{% extends 'base.html.twig' %}

{% block description %}
{% endblock %}

{% block title %}
    Thank you ! | Wornak
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <section class="thank-you padding-y-xxl">
        <div class="container max-width-adaptive-sm text-center">
            <svg class="thank-you__icon margin-bottom-sm" viewBox="0 0 80 80" aria-hidden="true"><g class="thank-you__icon-group"><circle fill="var(--color-success)" cx="40" cy="40" r="40"/><polyline points="21 41 33 53 59 27" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/></g></svg>

            <div class="text-component">
                <h1 class="text-xxxl">Registration Confirmed</h1>
                <p class="color-contrast-medium">An email has been sent to the address specified in the registration form. Please check your inbox and don't hesitate to check your spam folder.<br><a href="{{ path('app_login') }}"> Login</a></p>
            </div>
        </div>
    </section>
{% endblock %}

