{% extends 'base.html.twig' %}

{% block description %}
Registration page of Wornak
{% endblock %}

{% block title %}
Registration-Wornak
{% endblock %}

{% block head %}
{{ parent() }}
<style type="text/css">.contener_loader_18{width:90px;height:90px;background-image:url(W);background-position:center;background-repeat:no-repeat} .rond_sup{border-radius:80px;width:80px;height:80px;border-top:5px solid #FFFFFF;border-right:5px solid #1B363B;border-bottom:5px solid #1B363B;border-left:5px solid #1B363B;-webkit-animation:anim_sup 1.4s infinite linear;-moz-animation:anim_sup 1.4s infinite linear;-ms-animation:anim_sup 1.4s infinite linear;-o-animation:anim_sup 1.4s infinite linear;animation:anim_sup 1.4s infinite linear} .rond_mil{border-radius:70px;width:70px;height:70px;border-top:5px solid #FFFFFF;border-right:5px solid #475666;border-bottom:5px solid #475666;border-left:5px solid #475666;-webkit-animation:anim_mil 1.4s infinite linear;-moz-animation:anim_mil 1.4s infinite linear;-ms-animation:anim_mil 1.4s infinite linear;-o-animation:anim_mil 1.4s infinite linear;animation:anim_mil 1.4s infinite linear} .rond_petit{border-radius:60px;width:60px;height:60px;border-top:5px solid #FFFFFF;border-right:5px solid #68777A;border-bottom:5px solid #68777A;border-left:5px solid #68777A;-webkit-animation:anim_petit 3s infinite linear;-moz-animation:anim_petit 3s infinite linear;-ms-animation:anim_petit 3s infinite linear;-o-animation:anim_petit 3s infinite linear;animation:anim_petit 3s infinite linear} .rond_mini{border-radius:50px;width:50px;height:50px;border-top:5px solid #FFFFFF;border-right:5px solid #DAE0E6;border-bottom:5px solid #DAE0E6;border-left:5px solid #DAE0E6;-webkit-animation:anim_mini 8s infinite linear;-moz-animation:anim_mini 8s infinite linear;-ms-animation:anim_mini 8s infinite linear;-o-animation:anim_mini 8s infinite linear;animation:anim_mini 8s infinite linear} @-webkit-keyframes anim_sup{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}} @-webkit-keyframes anim_mil{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(-720deg);-moz-transform:rotate(-720deg);-ms-transform:rotate(-720deg);transform:rotate(-720deg)}} @-webkit-keyframes anim_petit{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(1800deg);-moz-transform:rotate(1800deg);-ms-transform:rotate(1800deg);transform:rotate(1800deg)}} @-webkit-keyframes anim_mini{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(2520deg);-moz-transform:rotate(2520deg);-ms-transform:rotate(2520deg);transform:rotate(2520deg)}} @-moz-keyframes anim_sup{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}} @-moz-keyframes anim_mil{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(-720deg);-moz-transform:rotate(-720deg);-ms-transform:rotate(-720deg);transform:rotate(-720deg)}} @-moz-keyframes anim_petit{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(1800deg);-moz-transform:rotate(1800deg);-ms-transform:rotate(1800deg);transform:rotate(1800deg)}} @-moz-keyframes anim_mini{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(2520deg);-moz-transform:rotate(2520deg);-ms-transform:rotate(2520deg);transform:rotate(2520deg)}} @-ms-keyframes anim_sup{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}} @-ms-keyframes anim_mil{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(-720deg);-moz-transform:rotate(-720deg);-ms-transform:rotate(-720deg);transform:rotate(-720deg)}} @-ms-keyframes anim_petit{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(1800deg);-moz-transform:rotate(1800deg);-ms-transform:rotate(1800deg);transform:rotate(1800deg)}} @-ms-keyframes anim_mini{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(2520deg);-moz-transform:rotate(2520deg);-ms-transform:rotate(2520deg);transform:rotate(2520deg)}} @keyframes anim_sup{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}} @keyframes anim_mil{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(-720deg);-moz-transform:rotate(-720deg);-ms-transform:rotate(-720deg);transform:rotate(-720deg)}} @keyframes anim_petit{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(1800deg);-moz-transform:rotate(1800deg);-ms-transform:rotate(1800deg);transform:rotate(1800deg)}} @keyframes anim_mini{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)} 100%{-webkit-transform:rotate(2520deg);-moz-transform:rotate(2520deg);-ms-transform:rotate(2520deg);transform:rotate(2520deg)}}</style>
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
<main role="main" class="container">
     <div class="contener_loader_18">
         <div class="rond_sup">
             <div class="rond_mil">
                 <div class="rond_petit">
                     <div class="rond_mini">
                     </div>
                 </div>
             </div>
         </div>
     </div>
</main><!-- /.container -->
<script>
   $( document ).ready(function(){
      $('.contener_loader_18').hide();/*je cache le loader après le chargement de la page*/
   });
</script>
{% endblock %}

{% block javascript %}

{% endblock %}