<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Adnan">

    <title>{% block title %}{% endblock %} | Wornak</title>

    <link rel="icon" href="{{ asset('images/Wornak2.png') }}">
    {% block head %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

{% block body %}
{% endblock %}


{% block javascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
