{% extends 'base.html.twig' %}

{% block description %}
Registration page of Wornak
{% endblock %}

{% block title %}
Registration-Wornak
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}


{% block body %}
 <main role="main" class="container" style="color: white">
 	<div class="js-choice-arrows">
 	        <div class="options__item">
            <div class="options__item-content">
                <div class="options__item-title">Are you a <strong>Employer</strong> ?</div>
            </div>
            <a href="{{ path('app_response1') }}" data-choice="1" class="options__item-link">Yes !</a>
        </div>
        <div class="options__item">
            <div class="options__item-content">
                <div class="options__item-title">Are you a <strong>Job seeker</strong> ?</div>
            </div>

            <a href="{{ path('app_response2') }}" data-choice="2" class="options__item-link">Yes !</a>
        </div>
    </div>
 </main>
{% endblock %}

{% block javascript %}

{% endblock %}
